table {
    width: 70%;
}

th, td {
    border: 1px solid;
}
thead {
    border-bottom-width: 1px;
}

td:first-child {
    width: 10%;
}
td:nth-child(2) {
    width: 50%;
}
td:nth-child(3) {
    width: 15%;
}
td:nth-child(4) {
    width: 5%;
}

[id="movie_route_trailer"] {
    transition: all 400ms;
}

.img_bg{
    filter: brightness(30%);
    object-fit: cover;
}

.grid-container {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    gap: 50px;
}

.movie_genre_tag {
    flex-basis: 33.333%;
}

.movie_genre_tag:nth-child(3n) {
    background-color: red;
    flex-flow: wrap;
}